.search-form {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.search-input {
  padding: 10px;
  margin-right: 10px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
.photo-card {
  margin-top: 15px;
}
.photo-card:not(:last-child) {
  margin-right: 15px;
}
.info {
  display: flex;
  justify-content: center;
  background-color: rgb(224, 217, 217);
  width: 100%;
  padding: 5px; 
  font-size: 10px;
}
.info-item {
  width: 70px;
  height: 40px;
  margin: 0;
  position: relative;
  padding-top: 20px;

  display: flex;
  justify-content: center;
}

.info-item:not(:last-child) {
  padding-right: 10px;
  padding-left: 10px;
  border-right: #2c332d 1px solid;
}

p.info-item b {
  position: absolute;
  top: 0;
}